<footer>
  <div class="about">
    <a href="sms:010-5208-8197">010.5208.8197</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="mailto:ksm372510@gmail.com">ksm372510@gmail.com</a>
    <br><br>
    Copyright &copy; 2018 minsweb.com. All rights reserved.
  </div>
</footer>