<header>
  <div class="title">
    <div class="heading">
      Min's
      <br>
      <span class="txt-rotate" data-period="1000" data-rotate='[ "Portfolio", "Website"]'></span>
      <img id="menuicon" class="icon" src="<%= image_path('menuicon') %>">
    </div>
  </div>  
  <navbar class="menu" id="myNav">
    <ul class="menulist">
      <a href="#" data-activates="mobile-demo" class="button-collapse"></a>
      <li><a href="#" data-tab="tab1" class="selected active">Profile</a></li>
      <li><a href="#" data-tab="tab2">Products</a></li>
      <li><a href="#" data-tab="tab3">Images</a></li>
      <li><a href="#" data-tab="tab4">Visitors</a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="#" data-tab="tab1" class="active">Profile</a></li>
      <li><a href="#" data-tab="tab2">Products</a></li>
      <li><a href="#" data-tab="tab3">Images</a></li>
      <li><a href="#" data-tab="tab4">Visitors</a></li>
    </ul>
  </navbar>
</header>