// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	background-color: #efefef;
}

body{
	// font:14px/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
}

// .container {
// 	width: 80%;
// }

#loading {
 width: 100%;  
 height: 100%;  
 //top: 0;
 //left: 0;
 position: fixed;  
 display: block;  
 opacity: 0.7;  
 background-color: #fff;  
 z-index: 99;  
} 
  
#loading-image {  
 position: absolute;  
 bottom: 50%;  
 right: 45%; 
 z-index: 100; 
}

/* tab내용 스타일  */
.tab_content {
	display: none;
}

.tab_content.active {
	display: inline-block;
	
}

section {
	padding: 3%;
	height: 100%;
	width: 100%;
	.row {
		margin: 0;
	}
}

#tab1 {
	.main_1 {
		text-align: center;
	}
	img.mainimg {
		max-width: 300px;
		border-radius: 50%;
	}
	img.logo {
		max-width: 30px;
	}
	.main_2 {
		.experience {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 600px) {
	#tab1 {
		img.mainimg {
			border-radius: 50%;
			max-width: 250px;
		}
	}	
}

#tab2 {
	.row {
		text-align: center;
		img {
			width: 300px;
			height: 250px;
			border-radius: 5%;
			float: left;
		}
		.dev_name {
			font-weight: bold;
		}
	}
}

#tab3 {
	.row {
		.myImgs {
			img {
				height: 300px;
			}
		}
	}
}

#tab4 {
	text-align: center;
	#oneBoard {
		.grid-item {
		  height: 180px;
		  border: 2px solid #333;
		  border-color: hsla(0, 0%, 0%, 0.5);
		  border-radius: 5px;
		  word-break:break-all;
		  overflow: hidden;
		}		
	}
}

.scroll {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 1;
}

.scroll a img {
    width: 60px;
}
