// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	background-color: #efefef;
}

body{
	// font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}

/* tab내용 스타일  */
.tab_content {
	display: none;
}

.tab_content.active {
	display: inline-block;
	
}

section {
	padding: 7%;
	height: 100%;
	width: 100%;
	// background-color: #F2F3F4;
	.row {
		margin: 0;
	}
}

#tab1 {
	// text-align: center;
	.main_1 {
		text-align: center;
	}
	img.mainimg {
		border-radius: 50%;
		max-width: 300px;
	}
	img.logo {
		max-width: 30px;
	}
}

#tab2 {
	.row {
		text-align: center;
		img {
			width: 350px;
			height: 250px;
			border-radius: 5%;
			float: left;
		}
		.dev_name {
			font-weight: bold;
		}
	}
}

#tab3 {
	.row {
		.myImgs {
			// height: 100px;	
			img {
				height: 300px;
			}
		}
	}
}

#tab4 {
	text-align: center;
	#oneBoard {
		.commentWindow{
			text-align: center;
			background-color: white;
			height: 100px;
		}
	}
}